# while loop

* Python’s **while** statement is the most general iteration construct in the language.

* it **repeatedly executes** a block of (normally indented) statements as long
as a test at the top keeps evaluating to a **true** value.

* it is called a "loop" because control
keeps looping back to the start of the statement until the test becomes **false**.

* When the test becomes **false**, control passes to the statement that follows the while block.

* If the test in the beginning is **false**, the body never runs and the **while statement is skipped**.

* Оператор **while** в Python — это наиболее общая конструкция итерации в языке.

* Он многократно выполняет блок (обычно с отступами) инструкций до тех пор, пока условие в начале остаётся истинным (**true**).

* Он называется «циклом», потому что управление постоянно возвращается к началу конструкции, пока условие не станет ложным (False).

* Когда условие становится ложным, выполнение программы продолжается со строки, следующей за блоком while.

Если условие изначально ложно, тело цикла не выполняется ни разу, и оператор while пропускается.

The general format of **while** statements looks like this

Общий формат оператора **while** выглядит следующим образом:

In [ ]:
''' while test: # Loop test
  statements # Loop body
else: # Optional else
  statements # Run if didn't exit loop with break '''

Let's understand the basic logic of **while** loop with this example

Давайте разберёмся с базовой логикой работы цикла **while** на следующем примере.

In [1]:
x = 0
while x < 10:
  print(x)
  x += 1
print('Finished!')

0
1
2
3
4
5
6
7
8
9
Finished!

In [2]:
del x

In the above code we initialize `x=0` otherwise we would get a `NameError`.

В приведённом выше коде мы инициализируем `x=0`, иначе возникнет ошибка `NameError`.

In [3]:
# while loop iterates until the condition given to it becomes False
condition = 10
while condition < 15:
    print(condition)
    condition = condition + 1

10
11
12
13
14

In [4]:
# This is equivalent to the code in above cell
condition = 10
while condition < 15:
    print(condition)
    condition += 1

10
11
12
13
14

In [5]:
n = 5
while n > 0:
  n -= 1
  print(n, end=' ')
  if n == -1:
    break
else:
  print('Loop done.')

4 3 2 1 0 Loop done.

## Infinite Loop

When working with **while** loops, sooner or later you will accidentally send Python into a neverending
loop. Here is an example:

При работе с циклами **while** рано или поздно вы можете случайно запустить бесконечный цикл. Вот пример:

In [ ]:
while True:
  print('You need to stop me!')

## break, continue, pass, loop else

* **break**: Jumps out of the closest enclosing loop

* **continue**: Jumps to the top of the closest enclosing loop (to the loop's header line)

* **pass**: Does nothing at all: it’s an empty statement placeholder

* **loop else** block: Runs if and only if the loop is exited normally (i.e., without hitting a **break**)

Factoring in break and continue statements, the general format of the while loop looks
like this:

* break — немедленно выходит из ближайшего (вложенного) цикла

* continue — переходит к началу ближайшего цикла (к строке с условием цикла)

* pass — ничего не делает; это пустой оператор-заглушка

* блок else у цикла — выполняется только в том случае, если цикл завершился естественным образом (то есть без использования **break**)

С учётом операторов break и continue общий формат цикла while выглядит следующим образом:

In [ ]:
''' while test:
  statements
  if test:
    break # Exit loop now, skip else if present
  if test:
    continue # Go to top of loop now, to test1
else:
  statements # Run if we didn't hit a 'break' '''

**break** and **continue** statements can appear anywhere inside the **while** (or **for**) loop's
body, but they are usually coded further nested in an **if** test to take action in response
to some condition.

Операторы **break** и **continue** могут располагаться в любом месте внутри тела цикла **while** (или for), однако чаще всего они используются внутри вложенного условия **if**, чтобы выполнять определённые действия при наступлении некоторого условия.

## pass

In [ ]:
while True:
  pass # you need to stop this infinite loop

In [ ]:
while True:
    break

## continue

The **continue** statement causes an immediate jump to the top of a loop.

Оператор **continue** вызывает немедленный переход к началу цикла.

In [7]:
x = 10
while x:
  x = x - 1 # Or, x -= 1
  if x % 2 != 0:
    continue # Odd? -- skip print
  print(x, end=' ')

8 6 4 2 0

Because **continue** jumps to the top of the loop, you don’t need to nest the **print** statement
here inside an **if** test; the **print** is only reached if the **continue** is not run.

Поскольку **continue** выполняет переход к началу цикла, нет необходимости помещать оператор print внутрь условия  **if**; выполнение **print** происходит только в том случае, если **continue** не был выполнен.

This code is the same as the above one.


Этот код аналогичен приведённому выше.

In [8]:
x = 10
while x:
  x = x-1
  if x % 2 == 0: # Even? -- print
    print(x, end=' ')

8 6 4 2 0

In [9]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## break

The **break** statement causes an immediate exit from a loop. Because the code that follows
it in the loop is not executed if the **break** is reached, you can also sometimes avoid
nesting by including a **break**.

Оператор **break** вызывает немедленный выход из цикла. Поскольку код, следующий за ним внутри цикла, не выполняется при срабатывании **break**, иногда можно избежать вложенных условий, просто используя **break**.

In [2]:
while True:
  name = input('Enter name:')
  if name == 'stop':
    break
  age = input('Enter age: ')
  print('Hello', name, '=>', int(age) ** 2)

Hello Tigran => 441

In [14]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [15]:
i = 0
while True:
  print(i)
  if i == 9:
      break
  else:
      i += 1

0
1
2
3
4
5
6
7
8
9

## Loop else

When combined with the loop **else** clause, the **break** statement can often eliminate the need for the search status flags used in other languages.

В сочетании с блоком **else** цикла оператор **break** часто позволяет отказаться от использования флагов состояния поиска, которые применяются в других языках программирования.

The following
piece of code determines whether a positive integer y is prime by searching for factors
greater than 1:

Следующий фрагмент кода определяет, является ли положительное целое число y простым, выполняя поиск делителей, больших 1.

In [17]:
y = int(input('Enter a positive integer:'))
x = y // 2 # For some y > 1
while x > 1:
  if y % x == 0: # Remainder
    print(y, 'has factor', x)
    break # Skip else
  x -= 1
else: # Normal exit
  print(y, 'is prime')

12 has factor 6

Rather than setting a flag to be tested when the loop is exited, it inserts a **break** where
a factor is found. This way, the **loop else** clause can assume that it will be executed
only if no factor is found; if you don't hit the **break**, the number is prime.

The **loop else** clause is also run if the body of the loop is never executed, as you don't
run a **break** in that event either; in a **while** loop, this happens if the test in the header
is false to begin with.



Вместо установки специального флага, который затем проверяется после завершения цикла, в коде используется оператор **break** в момент обнаружения делителя.

Таким образом, **loop else** цикла выполняется только тогда, когда делитель не найден; если break не срабатывает, число считается простым.

Блок else также выполняется, если тело цикла ни разу не было выполнено, поскольку в этом случае **break** тоже не вызывается.
В цикле **while** это происходит тогда, когда условие в заголовке изначально ложно.

In [18]:
i = 1
while i < 6:
  print(i)
  i += 1
  if i == 4:
    break
else:
  print("i is no longer less than 6")

1
2
3

In [19]:
a = 0
while True:
  a += 1
  print(a)
  if a == 4:
    break

1
2
3
4

In [20]:
a = 0
while a < 4:
  a += 1
  print(a)

1
2
3
4

# Exercises

1. Write a program (with a while loop) to print integers from 1 to 10 on the same line separated by a space.

Напишите программу (используя цикл while), которая выводит целые числа от 1 до 10 в одной строке, разделяя их пробелом.

In [21]:
x = 1
while x <= 10:
  print(x, end=' ')
  x += 1

1 2 3 4 5 6 7 8 9 10

2. Write a program that allows the user to enter any number of test scores. The user indicates they are done by entering in a negative number. Print how many of the scores are A's (90 or
above). Also print out the average.


Напишите программу, которая позволяет пользователю вводить произвольное количество оценок за тесты. Пользователь завершает ввод, вводя отрицательное число. Необходимо вывести, сколько оценок являются «A» (90 и выше), а также вычислить и вывести среднее значение.

  Գրել ծրագիր, որը թույլ կտա օգտատիրոջը մուտքագրել ինչ-որ թիվ՝ որպես գնահատական (0-100): Այս գործողություն կատարվում է մինչև բացասական թիվ մուտքագրելը։ Ծրագիրը պետք է հաշվի 90 և ավել գնահատականների քանակը, ինչպես նաև մուտքագրված գնահատականների միջին թվաբանականը։

In [5]:
scores_A_count = 0
scores_sum = 0
scores_count = 0

while True:
    user_input = int(input('Enter a score: '))
    if user_input < 0:
        break
    scores_sum += user_input        
    scores_count += 1               
    if user_input >= 90:            
        scores_A_count += 1

if scores_count > 0:
    print(f'The mean of scores is {scores_sum / scores_count}')
else:
    print('No scores entered.')

print(f'The number of A scores is {scores_A_count}')

The mean of scores is 82.25
The number of A scores is 1

3. Write a program that defines a random number (ամբողջ թիվ) between 1 and 10, then asks the user to enter a guess, if the number is guessed then the program finishes with the following message **Number guessed!**, if not the program continues to run.


Напишите программу, которая генерирует случайное число (целое число) от 1 до 10, затем запрашивает у пользователя попытку угадать его. Если число угадано, программа завершается с сообщением Number guessed!, иначе программа продолжает работу.


  Գրել ծրագիր, որը սահմանում է պատահական ամբողջ թիվ 1-ից 10 միջակայքից, այնուհետև թույլ է տալիս օգտատիրոջը մուտքագրել որևէ թիվ՝ որպես գուշակություն․ եթե թիվը գուշակված է, ծրագիրը ավարտվում է գրելով «Number guessed», հակառակ դեպքում՝ շարունակում է աշխատել։

In [6]:
import random

number = random.randint(1, 10) 
while True:
    user_input = int(input('Enter a number (1-10): '))
    if user_input == number:
        print('Number guessed!')
        break
    else:
        print('Not guessed, try again!')

Not guessed, try again!
Not guessed, try again!
Not guessed, try again!
Not guessed, try again!
Not guessed, try again!
Not guessed, try again!
Not guessed, try again!
Number guessed!

4. Write a Python program that prints all the integer numbers from 0 to 6 except 3 and 6.

Напишите программу на Python, которая выводит все целые числа от 0 до 6, за исключением 3 и 6.

  Գրել ծրագիր, որը տպում է 0-ից 6 բոլոր ամբողջ թվերը, բացի 3-ից ու 6-ից։

In [10]:
number = 0
while number <= 6:
    if number == 3  or number == 6:
        number += 1
        continue
    print(number)
    number += 1

0
1
2
4
5

5. Выведите все числа от 1 до 20, которые делятся на 3.

In [12]:
number = 1
while number < 21:
    if number % 3 == 0:
        print(number)
    number += 1

3
6
9
12
15
18

6. Выведите числа от 1 до 15, пропуская чётные числа.

In [13]:
number = 1
while number < 16:
    if number % 2 == 0:
        print(number)
    number += 1

2
4
6
8
10
12
14

7. Запрашивайте у пользователя числа, пока он не введёт 0.
После этого выведите:

* сумму чисел

* количество введённых чисел

In [15]:
sum_of_numbers = 0
number_count = 0

while True:
    user_number = int(input('enter a number: '))
    if user_number == 0:
        break
    sum_of_numbers += user_number
    number_count += 1 

print(f'the sum of numbers is {sum_of_numbers}')
print(f'the count of numbers is {number_count}')

the sum of numbers is 15
the count of numbers is 5

8. Попросите пользователя ввести число n. Выведите таблицу умножения для этого числа от 1 до 10.Пример для 3:
3 6 9 12 ...

In [ ]:
n = int(input("Enter a number: "))
i = 1

while i <= 10:
    print(n * i, end=' ')
    i += 1

3 6 9 12 15 18 21 24 27 30

9. Найдите сумму всех чисел от 1 до 100, кроме чисел, кратных 5.

In [18]:
number = 1
total_sum = 0

while number <= 100:
    if number % 5 != 0:
        total_sum += number
    number += 1  

print(total_sum)

4000

# for loop

We have already learnt about **while** loop, now we will learn about the **for** loop, which is designed for stepping through the items in a sequence or other iterable object and running a block of code for each.

Мы уже изучили цикл **while**, теперь познакомимся с циклом **for**, который предназначен для последовательного перебора элементов последовательности или другого итерируемого объекта и выполнения блока кода для каждого элемента.

* works on strings, lists, tuples, and
other built-in iterables
* begins with a header line that specifies an assignment target (or
targets), along with the object you want to step through.

* Работает со строками, списками, кортежами и другими встроенными итерируемыми объектами.

* Начинается с заголовка, в котором указывается переменная (или несколько переменных) для присваивания, а также объект, элементы которого будут последовательно перебираться.

In [ ]:
for target in object: # Assign object items to target
  statements
  if test: break # Exit loop now, skip else
  if test: continue # Go to top of loop now
else:
  statements # If we didn't hit a 'break'

In [ ]:
for num in range(10): # 0, 1, 2, ..., 9
  print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(3):
  num = eval(input('Enter a number: '))
  print('The square of your number is', num**2)
print('The loop is now done.')

Enter a number: 4
The square of your number is 16
Enter a number: 5
The square of your number is 25
Enter a number: 6
The square of your number is 36
The loop is now done.

In [ ]:
for i in range(5):
  print(i, end=' ')

0 1 2 3 4

In [ ]:
for i in range(3): # 0, 1, 2
  print(i+1, '-- Hello')

1 -- Hello
2 -- Hello
3 -- Hello

`range` creates a sequence object similar to list.
If you provide only 1 argument to `range`, it creates sequence from 0 up to the integer you gave to it. In case of 2 arguments it starts from the first number and goes up to the second one.


Функция `range` создаёт объект-последовательность, похожий на список.
Если передать в `range` только один аргумент, создаётся последовательность от 0 до указанного числа.
Если передать два аргумента, последовательность начинается с первого числа и продолжается до второго.

In [ ]:
for i in range(5, 10): # 5, 6, 7, 8, 9
  print(i)

5
6
7
8
9

We can provide the increment (step size) with the 3rd argument.

Мы можем задать шаг изменения (шаг приращения), передав третий аргумент функции range

In [ ]:
for i in range(5, 20, 2):  # 5, 7, 9, 11, 13, 15, 17, 19
  print(i)

5
7
9
11
13
15
17
19

In [ ]:
for i in range(5, 0, -1):
  print(i, end=' ')
  i += 1
print('Finished')

5 4 3 2 1 Finished

We can use any iterable object, such as a `list`, which we will study in more detail later.

Мы можем использовать любой итерируемый объект, например `list`, который мы изучим более подробно позже.

In [ ]:
for i in [4, 55, 75, 80]:
  print(i+1)

5
56
76
81

Strings are also iterable objects, so we can also use them with **for** loop.

Строки также являются итерируемыми объектами, поэтому их тоже можно использовать в цикле **for**.

In [ ]:
for i in 'hello':
  print(i, end = ' ')

h e l l o

The same holds for tuples.

То же самое относится и к tuples.

In [ ]:
T = ("this", "is", "a", "tuple")
for x in T:
  print(x, end=' ')

this is a tuple

In [ ]:
# combining loops and conditions
for i in range(10):
  if i % 2 == 0:
    print(i)

0
2
4
6
8

In [ ]:
# breaking loops
for i in range(20):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
# continuing loops
for i in range(10):
  if i != 5:
    continue
  print(i)

5

In [ ]:
# for loop also has else clause, similar to while
# which executes when no breaks occur in the loop
for i in range(10):
  print(i)
  if i == 7:
    break
else:
  print("didn't reach to end")

0
1
2
3
4
5
6
7

In [ ]:
for i in range(5):
  print(i)
  if i == 7:
    break
else:
  print("reached the end")

0
1
2
3
4
reached the end

In [ ]:
T = [(1, 2), (3, 4), (5, 6)]
for a, b in T: # Tuple assignment at work
  print(a, b)

1 2
3 4
5 6

In [ ]:
for both in T: # Manual assignment equivalent
  a, b = both
  print(a, b)

1 2
3 4
5 6

## Counting

Very often we want our programs to count how many times something happens. The key to counting is to use a variable
to keep the count.

For example, this program gets 10 numbers from the user and counts how many of those numbers
are greater than 10.

Очень часто в программах требуется подсчитать, сколько раз происходит то или иное событие. Ключевая идея подсчёта — использовать переменную, которая хранит счётчик.

Например, следующая программа получает от пользователя 10 чисел и подсчитывает, сколько из них больше 10.

In [ ]:
count = 0
for i in range(10):
  num = eval(input('Enter a number: '))
  if num > 10:
    count += 1  # or count = count + 1
print('There are', count, 'numbers greater than 10.')

Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 10
Enter a number: 11
Enter a number: 14
Enter a number: 5
Enter a number: 15
Enter a number: 16
Enter a number: 14
There are 5 numbers greater than 10.

This modification of the previous example counts how many of the numbers the user
enters are greater than 10 and also how many are equal to 0. To count two things we use two count
variables.

Эта модификация предыдущего примера подсчитывает, сколько из введённых пользователем чисел больше 10, а также сколько из них равны 0. Чтобы считать два разных показателя, используются две переменные-счётчика.

In [ ]:
count1 = 0
count2 = 0
for i in range(10):
  num = eval(input('Enter a number: '))
  if num > 10:
    count1 += 1
  if num == 0:
    count2 += 1
print('There are', count1, 'numbers greater than 10.')
print('There are', count2, 'zeroes.')

Enter a number: 5
Enter a number: 43
Enter a number: 4
Enter a number: 43
Enter a number: 34
Enter a number: 23
Enter a number: 3
Enter a number: 2
Enter a number: 2
Enter a number: 4
There are 4 numbers greater than 10.
There are 0 zeroes.

## Summing

Closely related to counting is summing, where we want to add up some numbers.
For example, this program will add up the numbers from 1 to 100. The way this works is that each
time we encounter a new number, we add it to our running total, `s`.

Тесно связанной с подсчётом задачей является суммирование, когда необходимо сложить несколько чисел.

Например, следующая программа находит сумму чисел от 1 до 100. Это работает так: каждый раз, когда встречается новое число, мы добавляем его к текущей сумме `s`.

In [ ]:
s = 0
for i in range(1,101):
  s += i
print('The sum is', s)

The sum is 5050

This program that will ask the user for 10 numbers and then computes their average.

Эта программа запрашивает у пользователя 10 чисел, а затем вычисляет их среднее значение.

In [ ]:
s = 0
for i in range(10):
  num = eval(input('Enter a number: '))
  s += num
print('The average is', s/10)

Enter a number: 2
Enter a number: 23
Enter a number: 2
Enter a number: 1
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 8
Enter a number: 5
The average is 6.3

## Swapping

Often we will want to swap the values of two variables, `x` and `y`. A common mistake is to do like this

Часто возникает необходимость поменять местами значения двух переменных `x` и `y`. Распространённой ошибкой является следующий способ:

In [ ]:
x = 5
y = 15
x = y
y = x
print(x)
print(y)

15
15

But this will not work. One way to achive this is to use a third variable to save the value of `x`:

Но этот способ не сработает. Один из способов решить эту задачу — использовать третью переменную, чтобы временно сохранить значение `x`:

In [ ]:
x = 5
y = 15
hold = x
x = y
y = hold
print(x)
print(y)

15
5

There is a nicer way to do this in Python

В Python есть более удобный (более элегантный) способ сделать это.

In [ ]:
x = 5
y = 15
x, y = y, x
print(x)
print(y)

15
5

## Flag variables

A flag variable can be used to let one part of your program know when something happens in
another part of the program. Here is an example that determines if a number is prime.

Флаговая переменная может использоваться для того, чтобы одна часть программы «узнавала», что в другой части произошло некоторое событие. Ниже приведён пример, который определяет, является ли число простым.

In [ ]:
num = int(input('Enter number: '))
flag = 0
for i in range(2, num):
  if num % i == 0:
    flag = 1

if flag == 1:
  print('Not prime')
else:
  print('Prime')

Enter number: 12
Not prime

## Max and Min

A common programming task is to find the largest or smallest value in a series of values. Here is
an example where we ask the user to enter ten positive numbers and then we print the largest one.

Распространённой задачей в программировании является поиск наибольшего или наименьшего значения среди набора чисел. Ниже приведён пример, в котором пользователю предлагается ввести десять положительных чисел, после чего программа выводит наибольшее из них.

In [ ]:
largest = 0
for i in range(9):
  num = eval(input('Enter a positive number: '))
  if num > largest:
    largest = num
print('Largest number:', largest)

Enter a positive number: 1
Enter a positive number: 2
Enter a positive number: 12
Enter a positive number: 15
Enter a positive number: 33
Enter a positive number: 2
Enter a positive number: 3
Enter a positive number: 4
Enter a positive number: 5
Largest number: 33

# Exercises

1. Write a program that outputs 100 lines, numbered 1 to 100, each with your name on it. The
output should look like the output below.

Напишите программу, которая выводит 100 строк, пронумерованных от 1 до 100, и в каждой строке указывает ваше имя. Вывод должен выглядеть так, как показано ниже.  
  Գրել ծրագիր, որը կտպի 100 հատ համարակալված տող (1-ից 100) և կգրի ձեր անունը։ Օրինակ՝

1 Anahit

2 Anahit

...

100 Anahit

In [ ]:
name = 'Tigran'
for i in range(10):
    print(i, name)

0 Tigran
1 Tigran
2 Tigran
3 Tigran
4 Tigran
5 Tigran
6 Tigran
7 Tigran
8 Tigran
9 Tigran

2. Write a program that prints out a list of the integers from 1 to 20 and their squares. The output

> Add blockquote


should look like this:


Напишите программу, которая выводит список целых чисел от 1 до 20 и их квадраты. Вывод должен выглядеть следующим образом.  


  Գրել ծրագիր, որը կտպի 1-20 ամբողջ թվերը և նրանց քառակուսիները՝ այսպես․

1 --- 1

2 --- 4

3 --- 9

...

20 --- 400

In [20]:
for i in range(21):
    print(i, '---', i**2)

0 --- 0
1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

3. Write a program that uses a for loop to print the numbers 8, 11, 14, 17, 20, . . . , 83, 86, 89.

Напишите программу, которая с использованием цикла for выводит числа 8, 11, 14, 17, 20, …, 83, 86, 89.

  Գրել ծրագիր, որը կտպի հետևյալ թվերը 8, 11, 14, 17, 20, . . . , 83, 86, 89` օգտագործելով **for** ցիկլ:

In [24]:
for i in range(8, 90, 3):
    print(i, end=' ')

8 11 14 17 20 23 26 29 32 35 38 41 44 47 50 53 56 59 62 65 68 71 74 77 80 83 86 89

4. Write a program that asks the user to enter ten positive numbers and then prints the smallest one.

Напишите программу, которая запрашивает у пользователя ввод десяти положительных чисел, а затем выводит наименьшее из них.

  Գրել ծրագիր, որը կվերցնի 10 դրական թվեր օգտատիրոջից և կտպի դրանցից փոքրագույնը։

In [30]:
del input

In [31]:
smallest = None  # начнем с None
for i in range(10):
    input_ = int(input('Enter a number: '))
    if smallest is None or input_ < smallest:
        smallest = input_

print(f'The smallest number is {smallest}')

The smallest number is -9

### Дополнительные задачи

1. Сгенерируйте случайное число от 1 до 50.
Пользователь угадывает, пока не угадает.
Выведите количество попыток.

(практика while + random + counter)

In [ ]:
import random
counter = 0
number = random.randint(1, 50)
while True:
    user = int(input('enter: '))
    counter += 1
    if user == number:
        print(f'Yes! You guessed the number in {counter} attempts.')
        break

2. Напечатайте все простые числа от 2 до 50.

In [32]:
for num in range(2, 51):
    is_prime = True  
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

3. Попросите пользователя вводить пароли, пока не будет введён **"python123"**.
После правильного ввода вывести **Access granted**.

In [34]:
while True:
    user = input('enter the password: ')
    if user == 'python123':
        print('access granted')
        break

access granted

1. Запросите у пользователя 10 чисел и выведите их сумму.

In [36]:
sum_of = 0
for i in range(10):
    numbers = int(input('enter a number: '))
    sum_of += numbers

print(f'the sum of your numbers is {sum_of}')

the sum of your numbers is 55

2. Запросите 10 чисел и выведите количество отрицательных чисел.

In [ ]:
negative_count = 0

for i in range(10):
    num = int(input(f'Enter number {i+1}: '))
    if num < 0:
        negative_count += 1

print(f'The number of negative numbers is {negative_count}')

hello world

3. Запросите 10 чисел и найдите:

* наибольшее

* наименьшее

* среднее

(комбинация min + max + average)

In [ ]:
all_numbers = 0

for i in range(10):
    num = int(input(f'Enter number {i+1}: '))
    all_numbers += num

    if i == 0:
        largest = num
        smallest = num
    else:
        if num > largest:
            largest = num
        if num < smallest:
            smallest = num

average = all_numbers / 10

print(f'Largest number: {largest}')
print(f'Smallest number: {smallest}')
print(f'Average: {average}')

4. Выведите квадраты всех чисел от 1 до 30, но только для чётных чисел.

In [38]:
for i in range(1,31):
    if i % 2 == 0:
        print(i**2)

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900